@model Nyma.Domain.ViewModels.Page.ResumePageViewModel

<div class="section mt-0">
    <h1 class="title title--h1 title__separate">رزومه</h1>
</div>


@if (Model.Educations != null && Model.Educations.Any())
{
    <partial name="_EducationsPartial" model="@Model.Educations" />
}


@if (Model.experiences != null && Model.experiences.Any())
{
    <partial name="_ExperiencesPartial" model="@Model.experiences" />
}

@if (Model.skills != null && Model.skills.Any())
{
    <partial name="_SkillsPartial" model="@Model.skills" />
}
