<meta charset="utf-8" />
<title>قالب رزومه</title>

<!-- Meta Data -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="format-detection" content="telephone=no" />
<meta name="format-detection" content="address=no" />
<meta name="author" content="ArtTemplate" />
<meta name="description" content="vCard" />

<!-- Twitter data -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="ArtTemplates">
<meta name="twitter:title" content="vCard">
<meta name="twitter:description" content="vCard">
<meta name="twitter:image" content="/site/images/social.html">

<!-- Open Graph data -->
<meta property="og:title" content="ArtTemplate" />
<meta property="og:type" content="website" />
<meta property="og:url" content="your url website" />
<meta property="og:image" content="/site/images/social.html" />
<meta property="og:description" content="vCard" />

<!-- Favicons -->
<link rel="apple-touch-icon" sizes="144x144" href="/site/images/favicons/apple-touch-icon-144x144.png">
<link rel="apple-touch-icon" sizes="114x114" href="/site/images/favicons/apple-touch-icon-114x114.png">
<link rel="apple-touch-icon" sizes="72x72" href="/site/images/favicons/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="57x57" href="/site/images/favicons/apple-touch-icon-57x57.png">
<link rel="shortcut icon" href="/site/images/favicons/favicon.png" type="image/png">

<!-- Styles -->
<link rel="stylesheet" type="text/css" href="/site/styles/style.css" />
<link rel="stylesheet" type="text/css" href="/site/styles/style-rtl.css" />
<link rel="stylesheet" type="text/css" href="/site/demo/style-demo.css" />
@*<link href="/lib/fontawesome/css/fontawesome.css" rel="stylesheet" />
<link href="/lib/fontawesome/css/brands.css" rel="stylesheet" />
<link href="/lib/fontawesome/css/solid.css" rel="stylesheet" />*@
<link href="/lib/fontawesome/css/fontawesome.min.css" rel="stylesheet" />
    <link href="/lib/fontawesome/css/brands.min.css" rel="stylesheet" />
    <link href="/lib/fontawesome/css/solid.min.css" rel="stylesheet" />
<link href="/site/custom/custom.css" rel="stylesheet">
