<!DOCTYPE html>
<html lang="fa" >

<head>
    @await Component.InvokeAsync("MetaTag")
    <partial name="_HeaderRefrencesPartial" />
</head>

<body class="bg-triangles-2" >

    <partial name="_PreloaderPartial" />

    <main class="main">

        <partial name="_MenuPartial" />

        <div class="wrapper">

            @await Component.InvokeAsync("SideBar")

            <div class="content js-scroll">
                @RenderBody()
            </div>

        </div>

    </main>

    <partial name="_FooterRefrencesPartial" />

    @RenderSection("Script", false)

</body>

</html>
