@{ 
    var controllerName = ViewContext.RouteData.Values["Controller"].ToString();
    var actionName = ViewContext.RouteData.Values["Action"].ToString();
}
<div class="circle-menu">
    <div class="hamburger">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="hamburger__text">منو</div>
    </div>
</div>

<div class="nav-wrap">
    <ul class="nav">
        <li class="nav__item"><a asp-controller="Home" asp-action="Index" class="@(controllerName == "Home" && actionName == "Index" ? "active" : "")">درباره  من</a></li>
        <li class="nav__item"><a asp-controller="Resume" asp-action="Index" class="@(controllerName == "Resume" && actionName == "Index" ? "active" : "")">رزومه</a></li>
        @*<li class="nav__item"><a asp-controller="Portfolio" asp-action="Index" class="@(controllerName == "Portfolio" && actionName == "Index" ? "active" : "")">نمونه کارها</a></li>*@
        <li class="nav__item"><a asp-controller="Contact" asp-action="Index" class="@(controllerName == "Contact" && actionName == "Index" ? "active" : "")">تماس با من</a></li>
    </ul>
</div>