     Preloader 
<div class="preloader">
    <div class="preloader__wrap">
        <svg class="spinner-container" viewBox="0 0 52 52">
            <circle class="path" cx="26px" cy="26px" r="20px" fill="none" stroke-width="4px"></circle>
        </svg>
        <div class="preloader__progress"><span></span></div>
    </div>
</div>