<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="/admin/images/favicon.ico">
<title>ادمین - @ViewData["Title"]</title>
<link rel="stylesheet" href="/admin/vendor_components/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="/admin/css/bootstrap-extend.css">
<link rel="stylesheet" href="/admin/css/master_style.css">
<link rel="stylesheet" href="/admin/css/skins/_all-skins.css">

<link rel="stylesheet" href="/lib/notification/notifications.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.css">
<link rel="stylesheet" href="/lib/wait-me/waitMe.min.css">

<link rel="stylesheet" href="/admin/css/custom_css.css">