@using Nyma.Domain.ViewModels.CustomerLogo;
@using Nyma.Application.StaticTools
@model List<CustomerLogoViewModel>

<div class="section">
    <h2 class="title title--h2">همکاری با شرکت های</h2>
    <div class="swiper-container js-carousel-clients">
        <div class="swiper-wrapper">

            @foreach (CustomerLogoViewModel item in Model)
            {
                <div class="swiper-slide">
                    <a href="@item.Link">
                    <img src="@(FilePaths.CustomerLogo + item.Logo)" alt="@item.LogoAlt">
                    </a>
                </div>
            }

        </div>

        <div class="swiper-pagination"></div>
    </div>
</div>