@using Nyma.Domain.ViewModels.ThingIDo
@model List<ThingIDoListViewModel>

<div class="section">
    <h2 class="title title--h2">کاری که انجام می دهم</h2>
    <div class="row">
        @foreach (ThingIDoListViewModel item in Model)
        {
            <div class="col-12 col-lg-@item.ColumnLg case-item-wrap">

                <div class="case-item">

                    <i class="@item.Icon thing-i-do-icon mb-3"></i>

                    <h3 class="title title--h3">@item.Title</h3>
                    <p class="case-item__caption">@item.Description</p>

                </div>

            </div>
        }
    </div>
</div>